* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.header {
  min-height: 768px;
  background: linear-gradient(0deg,
      #ebf3fb 8.84%,
      rgba(152, 195, 232, 0) 31.12%);
}

.header_info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

.header_box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header_content {
  background-image: url(img/bgi.png);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  flex-grow: 1;
  background-size: cover;
  min-height: 244px;
}

.p {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.boder_bot_text {
  width: 75%;
  color: #222222;
  opacity: 1;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 64px;
  text-align: center;
}

.header_button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  display: inline-block;
  text-decoration: none;
  margin-top: 71px;
}

.h1 {
  width: 510px;
  font-size: 64px;
  color: #1f3f68;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.h2_contact {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  color: #ffffff;
  padding-top: 32px;
}

.h3 {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}



.h3_footer {
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 340.96px;
}

.p_footer {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  margin-top: 32px;
  width: 494.77px;
}

.h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.contact_list {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 40px;
}

.contact_list li:first-child {
  padding-bottom: 16px;
}

.contact_list .phone::before {
  background: url(/img/phone.svg) center center no-repeat;
  margin-right: 16px;
}

.contact_list .site::before {
  background: url(/img/site.svg) center center no-repeat;
  margin-right: 16px;
}

.contact_list .email::before {
  background: url(/img/email.svg) center center no-repeat;
  margin-right: 16px;
}

.contact_list li::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.contact_list li {
  display: flex;
  align-items: center;
  color: #1f3f68;
}

.contact_list a {
  text-decoration: none;
  color: #1f3f68;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
}

.boder_content {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  margin-bottom: 64px;
}

.boder {
  margin-top: 64px;
}

.card {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.img_card {
  align-self: center;
  margin-bottom: 51px;
}

.card_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
  margin-top: 29px;
}

.p_top {
  width: 425px;
}

.p_contact {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 18px;
  width: 780px;
  align-self: center;
}

.footer {
  background: #316099;
  margin-top: 112px;
  padding-bottom: 64px;
  padding-top: 91px;
}

.footer_list {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  flex-grow: 1;
  flex-basis: 33%;
  margin-right: 32px;
  display: flex;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
  align-items: center;
}

.footer_list:first-child::before {
  content: "A. ";
  display: block;
  margin-right: 16px;
}

.footer_list:nth-child(2n)::before {
  content: "T. ";
  display: block;
  margin-right: 16px;
}

.footer_list:nth-child(3n)::before {
  content: "E. ";
  display: block;
  margin-right: 16px;
}

.footer_menu {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.footer_link {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  padding: 15px 80px;
  text-decoration: none;
}



.contact_content {
  display: flex;
  justify-content: center;
}

.h4_contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  padding-bottom: 24px;
}

.phone {
  display: flex;
  align-items: center;
}

.h4_phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  width: 70px;
  height: 30px;
  padding-top: 40px;
  padding-bottom: 24px;
}

.contact_info {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.p_contact_content {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.6;
  width: 299px;
  height: 53px;
}

.p_copy {
  margin-top: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

.contact_img {
  width: 300.31px;
  height: 181px;
  padding-bottom: 64px;
}

.contact_form {
  background: #ffffff;
  box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
  border-radius: 10px;
  width: 100%;
  padding: 54px;
  max-width: 435px;
  margin-top: 57px;
  margin: 0 auto;
}

.margin {
  margin-top: 57px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
}

.contact_form form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.8;
}

.contact_form .input_textarea {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
  opacity: 0.4;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 22px;
  line-height: 68px;
  margin-bottom: 30px;
}

.contact_form textarea.input_textarea {
  min-height: 140px;
  margin-bottom: 70px;
}

.contact_button {
  line-height: 70px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  line-height: 46px;
  text-transform: uppercase;
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
  border: none;
  border-radius: 10px;
}

.input_textarea {
  margin-bottom: 70px;
}

.project_img {
  width: 100%;
}

.project_item {
  position: relative;
}

.print {
  min-height: 140px;
  margin-bottom: 70px;
  resize: vertical;
  min-height: 92px;
  line-height: 1.2em;
  margin-bottom: 46px;
  padding: 13px 22px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  opacity: 0.2;
  border: 1px solid #356ead;
  border-radius: 10px;
}

.project_text {
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project_text1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 32px;
  left: 32px;
}

.project_parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.first {
  margin-right: 32px;
}

.h4_contact_send_us {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  text-transform: uppercase;
  padding-bottom: 31px;
}

.map {
  margin-top: 96px;
}

.line_height {
  line-height: 70px;
}

@media (max-width : 1024px) {

  .footer_link {
    padding: 4px 32px;
  }

  .container {
    padding: 0 32px;
  }

  .header_info {
    background-position: right 280px;
  }

  .boder_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 32px;
  }

  .footer {
    padding-top: 47px;
  }

  .footer_menu {
    flex-direction: column;
  }

  .footer_list {
    margin-bottom: 24px;
  }







}

@media (max-width:667px) {

  .footer_content {
    width: 100%;
  }

  .h3_footer {
    margin-bottom: 32px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .p_footer {
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }

  .footer_top {
    flex-direction: column;
    padding-bottom: 41px;
  }

  .p_copy {
    text-align: center;
    margin-top: 32px;
  }

  .footer_list {
    margin-bottom: 18px;
  }

  .footer {
    padding-top: 18px;
    padding-bottom: 32px;
  }

  .h1 {
    width: 100%;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 12px;
    text-align: center;
  }

  .p_top {
    width: 100%;
    text-align: center;
  }

  .header_info {
    background-image: none;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_button {
    text-align: center;
    margin-top: 32px;
    font-size: 12px;
    line-height: 26px;
    padding: 0px 8px;
  }

  .header {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }

  .h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .boder {
    margin-top: 48px;
  }

  .boder_content {
    padding-top: 32px;
  }

  .card {
    width: 100%;
  }

  .boder_bot_text {
    width: 100%;
  }

  .project_text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }

  .project_text1 {
    font-size: 16px;
    line-height: 19px;
    left: 16px;
    top: 26px;
  }

  .project_parent {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  .first {
    margin-right: 0px;
    margin-bottom: 16px;
  }


}